/*
 1. 반응형 메뉴
 기본스타일 정의 - 작은화면(핸드폰)을 기준으로
 --> 화면이 커지면 미디어쿼리를 이용해서 스타일을 적용
 */

header{
    position: relative;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: var(--dark);
    width: 100%;

    transform: translateX(100%);
    /* 부드럽게 이동시켜 주도록 모션을 추가 */
    transition: transform 1s ease;



}
/* 두 개의 클래스를 모두 가지고 있으면 */
.nav-menu.open{
    transform: translateX(0%);

}
.nav-menu > li{
    padding: 5px 60px;
}
.submenu > li:hover{
    background-color: var(--light);
    color: var(--dark);
}
.submenu > li{
    padding: 5px 20px;
}
.has-submenu{
    position: relative;
}
.has-submenu > a::after{
    display: inline-block;
    /* 추가하고 싶은 컨텐츠를 쌍따옴표 안에 작성 */
    content: "▼";
    position: absolute;
    margin-left: 5px;
    transform: rotate(0deg);
    transition: transform 1s ease;
    
    
}

.has-submenu.open > a::after{
    transform: rotate(180deg);
}

/* 서브메뉴 초기설정 - 화면에서 숨김 */
.has-submenu .submenu{
    /* 부모요소에 크기가 줄어들면서 자식요소만 남겨짐 */
    /* 겹침현상 : 부모영역을 벗어난 요소는 숨김처리 */
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
/* 서브메뉴를 보여줌 */
.has-submenu.open .submenu{
    max-height: 120px;
}


/* 2.card */
.card{
    /* 단위를 지정하지 않으면 동작하지 않음 */
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.card:hover{
    transform: translateY(-10px) ;
    box-shadow: 1px 1px 20px rgb(60, 170, 155, 0.774);
}
/* 뷰포트 폭이 768px 이상일 때만 { } 안의 스타일 적용
    반응형 웹 - 미디어 태그를 이용해서 태블릿 이상 크기일 때 스타일을 적용
    햄버거 메뉴 --> 네비바로 변경 */

/* 768 이상이면 적용될 스타일을 지정 */
@media (min-width:768px){
    /* 선택자를 이용해서 요소를 선택하고 스타일을 적용 */
    .burger{
        display: none;
    }
    .nav-menu{
        /* 요소를 순서대로 배치 - 기본값 */
        position: static;
        flex-direction: row;
    }
    .nav-menu > li{
        padding: 5px 20px;
    }
    .has-submenu{
        position: relative;
        max-height: none;
    }
    .submenu{
        position: absolute;
        background-color: var(--dark);
        width: 130px;

        /* 화면에 숨기기 */
        visibility: hidden;
        opacity: 0;
    }

    .has-submenu:hover .submenu{
        visibility: visible;
        opacity: 1;
    }
}