/*
    css 선택자

    요소를 선택하는 3가지 방법
    class: .
    id   : #
    tag name : 태그이름

    선택자 {
            스타일 속성을 적용
    }

*/p {
    background-color: bisque;
    border: 1px solid 0dvb;
    border-radius: 10px;
    padding :10px;
    display: 
  

}
/*
class를 이용해서 요소에 스타일을 적용
1. 스타일 정의
2. 요소의 class속성에 값을 입력
*/
.red{
    color:  red;

}
/* 아이디를 이용해서 요소를 선택*/
name {
    color: red;
}

/* 모든요소 */
* {
   margin:0px;
}
/* 스타일 우선 순위 - 범위가 좁아질수록 우선순위가 높다
!important > 인라인 > id > class > type
*/
/*소스 순서에 따라 - 아래에 작성된 스타일이 */

h1 {
    color: blueviolet;
}

